/*global style*/
body {
    width: 100;
    background-color: black;
}

/*header style*/
header {
    background-color: #333;
    color: white;
    padding: 1.5em 
}
/*navigation bar  alignment edits*/
nav h1 {
    display: inline;
    justify-content: center;
    text-align: center;
    margin-right: 5em;
}
/*navigation bar size edits*/
nav {
    max-width: 100%;
    background-color: #333;
    box-shadow: 3px 3px 5px rgb(0,0,0,0.1);
    align-items: right;
    justify-content: space-between;
}
/*listed items edits*/
nav ul{
    width: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 1em 1em;
    text-decoration: none;
    display: flex;
    text-align: center;
    color: white;
}
/*hover edits on nav bar*/

nav .navitems a:hover {
    background-color: grey;
}

/*edit for search bar*/
.search-bar {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: 5em;
    background-color: #333;
    color: white;
    transition: 0.2s;
}

.search-input {
    height: 5vh;
    width: 50%;
    background-color: #333;
    color: white;
}

.search-icon {
    height: 6vh;
    width: 10%;
    
}
/*edits for footer section*/
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.about-us{
    flex-grow: 1;
    text-align: left;
}

.copyright {
    text-align: right;
}
/*edits for the slider*/
.horizontal-images {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.swiper-container {
    width: 80%; 
    margin: 0 auto; 
}

#slider img {
    height: 20vh;
}

#slider .swiper {
    display: flex;
    flex-direction: row;
}

/*sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-button{
    display: none;
}

/*movie listing*/
#movie-list .listing{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/img1.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}


#movie-list .listing1{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/pic8.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}

#movie-list .listing2{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/pic7.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}

#movie-list .listing3{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/img4.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}

#movie-list .listing4{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/img5.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}

#movie-list .listing5{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/img6.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}

#movie-list .listing6{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/img7.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}

#movie-list .listing7{
    display: flex;
    width: 15%;
    height: 80vh;
    background-image: url("img/img8.png");
    background-size: cover;
    flex-direction: column;
    padding: 0 40px;
    margin: 10px;
}
/*will make the images hover when mouse is rolled over it*/
.listing:hover, 
.listing1:hover,
.listing2:hover,
.listing3:hover,
.listing4:hover,
.listing5:hover,
.listing6:hover,
.listing7:hover {
    transform: scale(1.2);
    cursor: pointer;

}


#movie-list h1{
    align-items: left;
    text-align: left;
    color: white;
    display: block;
    margin-top: 2em;
}

#movie-list h4{
    align-items: center;
    text-align: center;
    color: white;
    display: block;
    justify-content: center;
    margin-top: 22em;
    margin-bottom: 0;
}

#movie-list p {
    align-items: center;
    text-align: center;
    color: white;
    display: block;
    justify-content: center;

}

#movie-list .listing-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*media query*/
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .search-input {
        height: 4vh;
        width: 100%;
        background-color: #333;
        color: white;
    }
    
    .search-icon {
        height: 5vh;
        width: 100%;
        
    }

    nav h1 {
        margin-right: 1em;
    }

    nav ul {
            padding-inline-start: 0px;
    }
}
